# Entorno de despliegue (development/production)
NODE_ENV=development

# Seguridad y Red (PrivaStream)
SERVER_PORT=3000
ALLOWED_HOSTS=midominio.com,localhost,127.0.0.1
CORS_ORIGIN=https://midominio.com

# Base de datos (De requerirse para Backend)
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=secret
DB_NAME=privastream_db

# JWT y Seguridad
JWT_SECRET=generar_string_aleatorio_muy_largo

# Rutas locales multimedia (Debe coincidir con la de Nginx)
MEDIA_UPLOAD_PATH=/var/www/privastream/media
MAX_UPLOAD_SIZE_MB=5000
